<br>
<br>
<div id="root_form">
    <div class="cont_recover">
        <div id="root_recover" class="recover_div">
            <h2>Recuperar contraseña</h2>
            <label>                    
                <input type="text" id="email" class="input email" ng-model="rec_email" ng-keypress="$event.keyCode === 13 && submit_email()" placeholder="Correo recuperación" autocomplete="off"/>
                <span id="error_rec_email" class="error">{{error_rec_email}}</span>
            </label>
            <button type="button" ng-click="submit_email()" class="submit">Enviar correo</button>
        </div>
    </div>
</div>