
<div id="page-wrapper">

	<!-- Header -->
		<div id="header">

			<!-- Logo -->
				

			<!-- Nav -->
				<nav id="nav">
					
					<ul>
						<li class="menu-click" ng-class="{'current':c_menu==home}" id="menu-home"><a id="logo" href="#/home" data-tr="Home">Home</a></li>
						<li class="menu-click" ng-class="c_menu" id="menu-shop"><a href="#/shop" data-tr="Shop">Shop</a></li>
						
						<!-- <li class="menu-click" id="menu-left-sidebar" ><a href="#">Left Sidebar</a></li>
						<li class="menu-click" id="menu-right-sidebar"><a href="#">Right Sidebar</a></li> -->
						<li class="menu-click" ng-class="{'current':c_menu==contact}" id="menu-contact"><a href="#/contact" data-tr="Contact">Contact</a></li>
						<!-- <li class="menu-click" id="menu-no-sidebar"><a href="#">No Sidebar</a></li> -->
						<li class="settings">
							<a><img src="frontend/view/inc/images/settings.png"></a>
							<ul>
								<li>
									<a href="#" data-tr="Languages"></a>
									<ul id="btns-lang">										
										<li><button data-tr="Spanish" id="btn-es"></button></li>
										<li><button data-tr="English" id="btn-en"></button></li>
										<li><button data-tr="Valencian" id="btn-val"></button></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="search" id="menu-search">
							<div class="search-icon" data-silent-initial-value-set="true">
								<span class="search-line main-line"></span>
								<span class="search-circle"></span>
								<span class="search-line second-line"></span>
							</div>
						</li>
						
					</ul>
					<div id="Search" class="overlay-content" style="display: flex;">
							<div id="brands">
								<select class="brand" ng-change="change_search()" ng-model="brands" placeholder="Seleccionar Marca" ng-options="brand.nombre_marca as brand.nombre_marca for brand in search_brands">
									<option value="">Todas las marcas</option>
								</select>
							</div>
							<div id="categories">
								<select class="category" ng-change="change_search()" ng-model="categories" placeholder="Seleccionar Categoria" ng-options="category.nombre_categoria as category.nombre_categoria for category in search_categories">
									<option value="">Todas las categorias</option>
								</select>
							</div>
							<div id="order">
								<select class="order" ng-change="change_search()" ng-model="order">
									<option value="">Sin Orden</option>
									<option value="precio">Precio</option>
									<option value="kms">Kilometros</option>
								</select>
							</div>
							<div id="cities">
								<input type="text" list="list-cities" ng-change="change_search()" ng-model="cities" class="city" placeholder="Seleccionar Ciudad">
								<datalist id="list-cities">
									<option value="">Todas las ciudades</option>
									<option ng-repeat="city in search_cities" value="{{city.ciudad}}">{{city.ciudad}}</option>
								</datalist>
							</div>
							<div class="submit-img" ng-click="redirect_shop()">
								<img src="frontend/view/img/submit.png">
							</div>
					</div>

				</nav>
				
				<div id="simple_modal">
				</div>
		</div>
</div>
	
